<%= render 'layouts/customer_header' %>
<h1>商品詳細</h1>
<%= attachment_image_tag @item, :image, :fill, 60, 60, fallback: "", size:'100x100'%>
<table>
	<tr>
		<th>商品名</th>
		<td><%= @item.name%></td>
	</tr>

	<tr>
		<th>商品紹介</th>
		<td><%= @item.introduction%></td>
	</tr>

	<tr>
		<th>税込価格</th>
		<td><%= @item.price%>円</td>
	</tr>

</table>
<%= form_for(@items, url: public_cart_items_path(@item.id, @customer.id), method: :post) do |f| %>
	<!-- hidden_fieldは実際に画面に表示せずにデータを持たせる -->
	<!-- item_idが保存したいカラム名,valueがitem_idにいれたいデータのこと -->
	<%= f.hidden_field :item_id, :value => @item.id %>
	<%= f.hidden_field :customer_id, :value => @customer.id %>
	<%= f.number_field :amount, value: 1 ,min:1, max:99 %>個
	<%= f.submit %>
<% end %>
